.wrap {
    width: 800px;
    min-height: 500px;
    background: white;
    border: 2px solid aquamarine;
    border-radius: 10px;
}

.a {
    width: 790px;
    height: 170px;
    background: #e5acac;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

.father {
    width: 790px;
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.bcdefg {
    width: 75%;
    height: 360px;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 5px;
}

.bcd {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.efg {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.h {
    width: 25%;
    height: 350px;
    background: #e5acac;
    border-radius: 10px;

}

.box {
    width: 33%;
    height: 170px;
    background: #e5acac;
    border-radius: 10px;

}
.a,.box,.h {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 800px) {

    .wrap {
        width: 620px;
        padding: 15px;

    }
    .father {
        flex-direction: column;
        width: 600px;
        height: 730px;
        margin-left: 10px;

    }
    .bcdefg {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 600px;
        margin-left: 10px;
        margin-right: 10px;

    }
    .bcd {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .efg {
        margin-bottom: 30px;
    }
    .a {
        width: 600px;
        margin-left: 10px;
    }
   .h {
       width: 600px;
       height: 280px;
   }
   .box {
       width: 170px;
       height: 170px;
       border-radius: 30px;
   }
    .a,.box,.h {
        font-size: 100px;
    }
}